<div class="content" role="main">
  <div class="card highlight-card card-small">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#dd0031" width="70.678" height="70.678">
      <path d="M0 0h24v24H0z" fill="none" transform="translate(165.185 720.185)"/>
      <path
      d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1.41 16.09V20h-2.67v-1.93c-1.71-.36-3.16-1.46-3.27-3.4h1.96c.1 1.05.82 1.87 2.65 1.87 1.96 0 2.4-.98 2.4-1.59 0-.83-.44-1.61-2.67-2.14-2.48-.6-4.18-1.62-4.18-3.67 0-1.72 1.39-2.84 3.11-3.21V4h2.67v1.95c1.86.45 2.79 1.86 2.85 3.39H14.3c-.05-1.11-.64-1.87-2.22-1.87-1.5 0-2.4.68-2.4 1.64 0 .84.65 1.39 2.67 1.91s4.18 1.39 4.18 3.91c-.01 1.83-1.38 2.83-3.12 3.16z"
       />
    </svg>
    <span>Приймай рішення розумно!</span>
    <svg id="rocket-smoke" alt="Rocket Ship Smoke" xmlns="http://www.w3.org/2000/svg" width="516.119" height="1083.632"
      viewBox="0 0 516.119 1083.632">
      <path id="Path_40" data-name="Path 40"
        d="M644.6,141S143.02,215.537,147.049,870.207s342.774,201.755,342.774,201.755S404.659,847.213,388.815,762.2c-27.116-145.51-11.551-384.124,271.9-609.1C671.15,139.365,644.6,141,644.6,141Z"
        transform="translate(-147.025 -140.939)" fill="#f5f5f5" />
    </svg>
  </div>

  <div class="container-fluid main-container">
    <mat-card class="mb-5">
      <mat-card-header>
        <mat-card-title>Опис гри</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>
          <strong>Компанія А</strong> та <strong>Компанія B</strong> поділяють ринок. Поточний прибуток кожної становить 5 млн. грн.<sup>(*)</sup>  на рік.
          Обидві компанії мають вирішити, чи вкладати кошти в рекламу для залучення клієнтів.
          Для кожної компанії витрати на рекламу складають 2 млн. грн.<sup>(*)</sup> на рік.
          Компанія, що інвестувала в рекламу, отримує клієнтів конкурента та збільшує прибуток за рахунок конкурента на 3 млн. грн.<sup>(*)</sup> за умови,
          якщо конкурент не вклався в рекламу.
        </p>
      <p>
        Якщо обидві не інвестують, вони отримують по 5 млн. грн.<sup>(*)</sup> кожна. Якщо обидві інвестують, то обидві знизять свій прибуток до 3 млн. грн.<sup>(*)</sup> , оскільки реклама коштує 2 млн. грн.<sup>(*)</sup>  Якщо A буде інвестувати в рекламу, а B ні, A отримує 6 млн. грн. (5 – 2 + 3), а B – лише 2 млн. грн, і навпаки.
      </p>
      <p class="lead">
        <strong>
          Ви - менеджер Компанії А. Вам необхідно прийняти рішення, чи інвестувати в рекламу.
        </strong>
       </p>
      <p><sup>(*)</sup> Ви можете змінити вхідні дані для гри в налаштуваннях.</p>
      </mat-card-content>
    </mat-card>

    <div class="row">
      <div class="col">
        <button mat-button color="warn" (click)="showHint()">
          Підказка оптимальної стратегії
        </button>
        <div *ngIf="showHintFlag">
          <mat-card>
            {{ hintMessage }}
          </mat-card>
        </div>
      </div>
      <div class="col">
        <div class="text-right">
          <button
            mat-icon-button
            color="primary"
            aria-label="Налаштування"
            title="Налаштування"
            (click)="showSettings = !showSettings">
            <mat-icon>settings</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <mat-card *ngIf="showSettings">
      <form [formGroup]="inputDataForm" (submit)="saveInputData();">
        <h5>Тут Ви можете змінити вхідні дані моделі</h5>
        <div class="row">
          <div class="col">
            <h3>Компанія А</h3>
            <div formGroupName="companyA">
              <mat-form-field appearance="fill">
                <mat-label>Щорічний прибуток, млн. грн.</mat-label>
                <input matInput type="number" formControlName="annualProfit">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Ціна реклами, млн. грн.</mat-label>
                <input matInput type="number" formControlName="advertiseCost">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Прибуток від реклами (якщо конкурент не інвестує), млн. грн.</mat-label>
                <input matInput type="number" formControlName="advertiseEffect">
              </mat-form-field>
            </div>
          </div>
          <div class="col">
            <h3>Компанія В</h3>
            <div formGroupName="companyB">
              <mat-form-field appearance="fill">
                <mat-label>Щорічний прибуток, млн. грн.</mat-label>
                <input matInput type="number" formControlName="annualProfit">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Ціна реклами, млн. грн.</mat-label>
                <input matInput type="number" formControlName="advertiseCost">
              </mat-form-field>
              <mat-form-field appearance="fill">
                <mat-label>Прибуток від реклами (якщо конкурент не інвестує), млн. грн.</mat-label>
                <input matInput type="number" formControlName="advertiseEffect">
              </mat-form-field>
            </div>
          </div>
        </div>

        <div class="text-center">
          <button mat-raised-button color="primary" type="submit" [disabled]="!inputDataForm.valid" class="mr-2">
            Зберегти</button>
          <button mat-raised-button color="default" (click)="showSettings = false;">Скасувати</button>
        </div>
      </form>
    </mat-card>
    <br>

    <div class="row mb-3">
      <div class="col-4">
        <mat-card>
          <div>
            <h6>Ваш прибуток: </h6>
            <h4 [ngClass]="{ 'text-success': accumulativeAProfit > accumulativeBProfit, 'text-danger': accumulativeAProfit < accumulativeBProfit }">
              {{ accumulativeAProfit }} млн. грн.
            </h4>
          </div>
          <hr>
          <div>
            <h6>Прибуток компанії B: </h6>
            <h4 [ngClass]="{ 'text-success': accumulativeBProfit > accumulativeAProfit, 'text-danger': accumulativeBProfit < accumulativeAProfit }">
              {{ accumulativeBProfit }} млн. грн.
            </h4>
          </div>
        </mat-card>
      </div>
      <div class="col-4">
        <div id="action-container">
          <div class="text-center">
            <button mat-raised-button color="primary" (click)="play(true)" class="action-button">
              Інвестувати
            </button>
            <button mat-raised-button color="warn" (click)="play(false)" class="action-button">
              НЕ інвестувати
            </button>
          </div>

          <div class="mt-3">
            <p>Зіграйте декілька разів поспіль: оберіть кількість ігор, а потім зробіть свій вибір 'Інвестувати' чи 'Не інвестувати'</p>
            <mat-form-field appearance="fill">
              <mat-label>Зіграти декілька разів поспіль</mat-label>
              <mat-select [(value)]="multipleGamesCount">
                <mat-option></mat-option>
                <mat-option value="10">10</mat-option>
                <mat-option value="25">25</mat-option>
                <mat-option value="50">50</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-4">
        <mat-card *ngIf="accumulativeAProfit > 0 || accumulativeBProfit > 0">
          <h6>Останній хід</h6>
          <hr>
          <div class="mb-2" [ngClass]="{ 'text-success': playerAProfit > playerBProfit, 'text-danger': playerAProfit < playerBProfit }">
            <strong>Ви:</strong> {{ A_StepText }}. Прибуток {{ playerAProfit }}
          </div>
          <div [ngClass]="{ 'text-danger': playerAProfit > playerBProfit, 'text-success': playerAProfit < playerBProfit }">
            <strong>Компанія В:</strong> {{ B_StepText }}. Прибуток {{ playerBProfit }}
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="col">
          <h6>
            Нижче наведені платіжні матриці для Компанії А та Компанії В, в яких показані виграші (сума прибутку) цих компаній при різних варіантах розвитку подій.
          </h6>
        </div>
      </div>
    </div>
    <div class="row mb-10">
      <div class="col">
        <table mat-table [dataSource]="A_MatrixdataSource" class="mat-elevation-z8">
          <ng-container *ngFor="let column of A_columns; let columnIndex = index" [matColumnDef]="column.key">
            <th mat-header-cell *matHeaderCellDef> {{ column.title }}</th>
            <td mat-cell *matCellDef="let element; let rowIndex = index;">
              {{ columnIndex === 0 ? column.text(rowIndex) : column.cell(rowIndex + 1, columnIndex) }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <div class="col">
        <table mat-table [dataSource]="B_MatrixdataSource" class="mat-elevation-z8">
          <ng-container *ngFor="let column of B_columns; let columnIndex = index" [matColumnDef]="column.key">
            <th mat-header-cell *matHeaderCellDef> {{ column.title }}</th>
            <td mat-cell *matCellDef="let element; let rowIndex = index;">
              {{ columnIndex === 0 ? column.text(rowIndex) : column.cell(rowIndex + 1, columnIndex) }}
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
    </div>

    <footer class="mt-4">
      <div class="text-center">
        &copy; Олексій Рябишев {{ currentDate | date:'yyyy' }}
      </div>
    </footer>
  </div>

  <svg id="clouds" alt="Gray Clouds Background" xmlns="http://www.w3.org/2000/svg" width="2611.084" height="485.677"
    viewBox="0 0 2611.084 485.677">
    <path id="Path_39" data-name="Path 39"
      d="M2379.709,863.793c10-93-77-171-168-149-52-114-225-105-264,15-75,3-140,59-152,133-30,2.83-66.725,9.829-93.5,26.25-26.771-16.421-63.5-23.42-93.5-26.25-12-74-77-130-152-133-39-120-212-129-264-15-54.084-13.075-106.753,9.173-138.488,48.9-31.734-39.726-84.4-61.974-138.487-48.9-52-114-225-105-264,15a162.027,162.027,0,0,0-103.147,43.044c-30.633-45.365-87.1-72.091-145.206-58.044-52-114-225-105-264,15-75,3-140,59-152,133-53,5-127,23-130,83-2,42,35,72,70,86,49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33,61.112,8.015,113.854-5.72,150.492-29.764a165.62,165.62,0,0,0,110.861-3.236c47,94,178,113,251,33,31.385,4.116,60.563,2.495,86.487-3.311,25.924,5.806,55.1,7.427,86.488,3.311,73,80,204,61,251-33a165.625,165.625,0,0,0,120,0c51,13,108,15,157-5a147.188,147.188,0,0,0,33.5-18.694,147.217,147.217,0,0,0,33.5,18.694c49,20,106,18,157,5a165.625,165.625,0,0,0,120,0c47,94,178,113,251,33C2446.709,1093.793,2554.709,922.793,2379.709,863.793Z"
      transform="translate(142.69 -634.312)" fill="#eee" />
  </svg>

</div>

<router-outlet></router-outlet>
